<!-- src/partials/modals/system-dialogs.html -->
<!-- SYSTEM DIALOGS MASTER FACADE -->
<load src="src/partials/modals/system-dialogs/cater-modals.html" />
<load src="src/partials/modals/system-dialogs/payment-modals.html" />
<load src="src/partials/modals/system-dialogs/customer-modals.html" />
<load src="src/partials/modals/system-dialogs/admin-dialogs.html" />
<load src="src/partials/modals/system-dialogs/cart-order-modals.html" />
<load src="src/partials/modals/system-dialogs/utility-modals.html" />