<!-- src/partials/head.html -->
<link rel="manifest" href="manifest.json">
<meta name="theme-color" content="#1E1E1E">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Lokalex Hub">

<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        darkMode: 'class',
        theme: { extend: { colors: { darkBg: '#121212', cardBg: '#1E1E1E', inputBg: '#2A2A2A', tgBg: '#0e1621', tgCard: '#17212b', tgBtn: '#202b36' } } }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVAwn0UnyHJ926oHeK0k789ncADMzmX80&libraries=places"></script>